{% extends "base/_layout_standard.html" %}
{% load staticfiles i18n %}

{% block header_title %}
	Developer Zone
{% endblock %}

{% block main %}

<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<h5 class="pull-left">
			Current Templates&nbsp;
			<span class="label label-default">1</span>
		</h5>
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-default">Refresh</button>
			<a href="{% url 'developer_upload' %}" class="btn btn-primary">Upload Site</a>
		</div>
		<div class="clearfix">&nbsp;</div>
	</div>

	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Site ID</th>
					<th>Description</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for item in sites %}
				<tr class="">
					<td>{{ item.id }}</td>
					<td>{{ item.template_name }}</td>
					<td>
						{% if not item.is_confirmed %}
							<span class="label label-warning">Unconfirmed</span>
						{% elif not item.is_active %}
							<span class="label label-default">Inactive</span>
						{% elif not item.is_verified %}
							<span class="label label-info">Verifing</span>
						{% else %}
							<span class="label label-success">Active</span>
						{% endif %}

					</td>
					<td>
						<div class="btn-group btn-group-xs">
							<div class="btn btn-default">Edit</div>
							<div class="btn btn-default">Deactivate</div>
							<div class="btn btn-default">Delete</div>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}