{% extends "base/_layout_standard.html" %}
{% load staticfiles i18n %}
{% load bootstrap %}

{% block header_title %}
	Confirm your template
{% endblock %}

{% block main %}

<div class="row">
	<div class="col-xs-12 col-md-8 col-sm-10">

		<div class="">
			<form
				class="form-horizontal"
				action="{% url 'developer_upload_confirm' %}" 
				method="post" enctype="multipart/form-data">
				{% csrf_token %}

				<table class="table">
						{% for key in files %}
							<tr><td>{{ key }}</td></tr>
						{% endfor %}
				</table>

				<input type="submit" class="btn btn-primary" name="Confirm" value="Confirm">
			</form>
		</div>

	</div>
</div>

{% endblock %}