
<div class="panel panel-info">
	<div class="panel-heading">
		<a class="btn-link">
			Template Name
			<span class="glyphicon glyphicon-chevron-right pull-right"></span>
		</a>
	</div>
	<div class="panel-body">
		<p class="text-center">
			<a href="#" class="thumbnail">
				<img data-src="holder.js/100%x180">
			</a>
		</p>

		<p>
			<span class="glyphicon glyphicon-tag"></span>
			<span class="label label-primary">Restaurant</span>&nbsp;
			<span class="label label-primary">Romance</span>&nbsp;
			<span class="label label-primary">Business</span>&nbsp;
		</p>

		<dl class="">
			<dt>Author</dt>
			<dd>James Harden</dd>
			<dt>Descripition</dt>
			<dd>Amazing colors plus more rounded corners</dd>
		</dl>
	</div>
</div>