
/*  GENERAL */

    /* BS OVERRIDE */

    body { background:white; margin:0; padding:0; }
    body { padding-top:50px; }

    body, .btn, h1, h2, h3, h4, h5, h6 { font-weight:200; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; }
    label { font-weight:200; }

    code.inverse { background-color:#333; color:#5B86E0; }

    .form-group { margin-right:5px; }

    th { font-weight:400; color:#999; }
    .table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td { padding:8px 15px; }

    .page-header { margin-top:20px; }

     /* NAVBAR */

    .navbar { margin-bottom:0; }
    .navbar .btn-toolbar { margin-top:0; }
    
    /* LANDING */

    #landing { padding-top:50px; }
    #landing .page-header { display:none; }
    #landing nav { display:none; }

    #landing-login { 
        margin:0 auto; max-width:340px; padding:1px 40px 30px; 
        background-color:#f7f7f7; box-shadow:0px 1px 2px #ccc;
    }
    #landing-login h3 { margin:20px 0 25px; }
    #landing-login .btn { width:100%; }
    #landing-login .btn, #landing-login .form-control { padding:10px 12px; height:auto; }



    .rounded {
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }

    
