
/*  GENERAL */

    /* BS OVERRIDE */

    body { background:white; margin:0; padding:0; }
    body { padding-top:50px; }
    body#landing { padding-top:50px; }

    body, .btn, h1, h2, h3, h4, h5, h6 { font-weight:200; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; }
    label { font-weight:200; }

    code.inverse { background-color:#3A0606; color:#c7254e; }

    .form-group { margin-right:5px; }

    th { font-weight:400; color:#999; }
    .table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td { padding:8px 15px; }

    .page-header { margin-top:20px; }

     /* NAVBAR */

    .navbar { margin-bottom:0; }
    .navbar .btn-toolbar { margin-top:0; }
    
    /* LANDING */

    body#landing .page-header { display:none; }
    .landing.jumbotron { background:url('images/work.jpg') repeat-x center; color:white; margin-bottom:0; padding:0; }
    .landing.jumbotron .container { padding:30px; }
    .landing.jumbotron .backdrop { background:rgba(0,0,0,0.7); }
    .landing.jumbotron p { color:#ccc; }

    .get-started.jumbotron { padding:20px; }

    .jumbotron h1 { font-size:35px; font-weight:400; font-family:'lucida grande',tahoma,verdana,arial,sans-serif; }
    .jumbotron p { font-size:18px;  }
    .jumbotron form { line-height:normal; }


    .rounded {
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }

    
