{% extends "base/_layout_bare.html" %}
{% load staticfiles i18n %}
{% load bootstrap %}

{% block header_title %}
Dashboard
{% endblock %}

{% block main %}

<div class="dashboard">

	<ol class="breadcrumb">
		<li class="active">Dashboard</li>
	</ol>

	<div class="row">
		<div class="col-sm-4">
			<div class="panel">
				<div class="panel-body">
					<h4 class="text-primary">
						Recent Players
						<a href="{% url 'dashboard_manager_add' %}" class="pull-right text-primary">
							<i class="glyphicon glyphicon-plus"></i>
						</a>
					</h4>
					<ul class="list-unstyled">
						<li><a class="text-muted" href="#">Matts Sudin</a></li>
						<li><a class="text-muted" href="#">Matts Sudin</a></li>
					</ul>
				</div>
			</div>

			<div class="panel">
				<div class="panel-body">

					<h4 class="text-primary">
						Calendar
						<a href="{% url 'dashboard_manager_add' %}" class="pull-right text-primary">
							<i class="glyphicon glyphicon-plus"></i>
						</a>
					</h4>

				</div>
			</div>

		</div>
		<div class="col-sm-8">

			<div class="panel">
				<div class="panel-body">
					<h4 class="text-primary">Remaining Tasks</h4>

					<div class="media">
						<a class="pull-left" href="#">
							<img class="media-object" <img data-src="holder.js/50x50">
						</a>
						<div class="media-body">
							<h5 class="media-heading">Item one</h5>
							<div class="text-muted">Stuff todo</div>
						</div>
					</div>

					<div class="media">
						<a class="pull-left" href="#">
							<img class="media-object" <img data-src="holder.js/50x50">
						</a>
						<div class="media-body">
							<h5 class="media-heading">Item two</h5>
							<div class="text-muted">Stuff todo</div>
						</div>
					</div>

					<div class="media">
						<a class="pull-left" href="#">
							<img class="media-object" <img data-src="holder.js/50x50">
						</a>
						<div class="media-body">
							<h5 class="media-heading">Item three</h5>
							<div class="text-muted">Stuff todo</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>

{% endblock %}