{% extends "base/_layout_standard.html" %}
{% load staticfiles i18n %}
{% load bootstrap %}

{% block extra_head %}
	<script src="{% static "player/js/chart.js" %}" type="text/javascript"></script>
{% endblock extra_head %}

{% block header_title %}
	{{ basicinfo.first_name }} {{ basicinfo.last_name }}
{% endblock %}

{% block main %}

<div class="container">
	<div class="row">
  			<div class="col-md-3">
              <div class="well">
     		<h2>Player Details</h2>
	     		<p> {{ basicinfo.first_name }} {{ basicinfo.last_name }}  </p>
	     		<p> Born: {{ basicinfo.birthday }} </p>
	     		<p> Height: {{ stats.height_feet }}'{{ stats.height_inches  }}</p>
              </div>
      		</div>  
      		<div class="col-md-9">
      			<div class="well">
      			<!-- NAVBAR BEGINS -->
        <div class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <!-- Iphone Button -->
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
              </button>
              <!-- Brand Name -->
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="active">
                  <a href="#">Stats Summary</a>
                </li>
                <li>
                  <a href="#">About</a>
                </li>
                <li>
                  <a href="#">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- NAVBAR ENDS -->

              	<h2>Content</h2>
              	<a class="btn btn-primary pull-right toggle-graph showing-table">Show Graph<br></a>

              	<table class="table table-striped table-hover  stats-table">
				  <thead>
				    <tr>
				      <th>Position</th>
				      <th>Goals</th>
				      <th>Assists</th>
				      <th>Points</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>{{ hockeystats.position }}</td>
				      <td>{{ hockeystats.goals }}</td>
				      <td>{{ hockeystats.assists }}</td>
				      <td>{{ hockeystats.points }}</td>
				    </tr>
				  </tbody>
				</table>


				{# Graph Begins - Hidden by Default #}
              	<canvas id="statsChart" width="600" height="400" style="display:none;"></canvas>

              	<script type="text/javascript">
              		//Get the context of the canvas element we want to select
					var ctx = document.getElementById("statsChart").getContext("2d");
					var data = {
					labels : ["Goals", "Assists", "Points"],
					datasets : [
									{
										fillColor : "rgba(151,187,205,0.5)",
										strokeColor : "rgba(151,187,205,1)",
										pointColor : "rgba(151,187,205,1)",
										pointStrokeColor : "#fff",
										data : [{{ hockeystats.goals }}, {{ hockeystats.assists }}, {{ hockeystats.points }}]
									}
								]
							}

					var options = {
						//If we want a custom scale

						// scaleOverride : true,
						// //** Required if scaleOverride is true **
						// //Number - The number of steps in a hard coded scale
						// scaleSteps : 10,
						// //Number - The value jump in the hard coded scale
						// scaleStepWidth : 2,
						// //Number - The scale starting value
						// scaleStartValue : 0,
					};
					var myNewChart = new Chart(ctx).Line(data, options);

					// Button Toggle 
					$('.toggle-graph').on('click', function(){
						if($(this).hasClass('showing-table')){
							$(this).removeClass('showing-table');
							$(this).addClass('showing-graph');
							$(this).text('Show Table');
						}else if ($(this).hasClass('showing-graph')) {
							$(this).removeClass('showing-graph');
							$(this).addClass('showing-table');
							$(this).text('Show Graph');
						}
						$('#statsChart').toggle('slow');
						$('.stats-table').toggle('slow');
					});

              	</script>
              	
      		</div>
      	</div>              	
  	</div>
</div>

{% endblock %}