{% extends "base/_layout_standard.html" %}
{% load staticfiles i18n %}
{% load bootstrap %}

{% block header_title %}
Manager
{% endblock %}

{% block header_right %}
	<a class="btn btn-primary pull-right" href="{% url 'dashboard_manager_add' %}">
		Add Record
	</a>
{% endblock %}

{% block main %}

	{% if records %}
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
				</tr>
			</thead>
			<tbody>
				{% for record in records %}
				<tr>
					<td>
						{{ record.first_name }}
					</td>
					<td>
						{{ record.last_name }}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
    {# Pagination #}
    <div class="text-center">
      <ul class="pagination" >
              {# Previous Button #}
              {% if records.has_previous %}
                  <li><a href="?page={{ records.previous_page_number }}">&laquo;</a></li>
              {% else %}
                  <li class="disabled"><a>&laquo;</a></li>
              {% endif %}

              {# Page Numbers #}
              {% for num in records.paginator.page_range %}
                {# Current Page bold #}
                {% ifequal num records.number %}
                  <li class="active"><a href="?page={{ num }}" >{{ num }}</a></li>
                {# Other Page number #}
                {% else %}
                  <li><a href="?page={{ num }}"> {{ num }}</a></li>
                {% endifequal %} 
              {% endfor %}

              {# Next Button #}
              {% if records.has_next %}
                  <li><a href="?page={{ records.next_page_number }}">&raquo;</a></li>
              {% else %}
                  <li class="disabled"><a>&raquo;</a></li>
              {% endif %}
      </ul>
    </div>
	{% else %}
		<p>No records were found.</p>
	{% endif %}

{% endblock %}