{% extends "base/_layout_standard.html" %}
{% load staticfiles i18n %}
{% load bootstrap %}

{% block header_title %}
	Add Record
{% endblock %}

{% block main %}

<div class="row">
	<div class="col-xs-12 col-md-8 col-sm-10">
		<form class="form-horizontal" method="post">
			{% csrf_token %}
			{{ form|bootstrap_horizontal }}

			<div class="form-group">
				<label class="control-label col-sm-3 col-lg-3" for="id_submit"></label>
				<div class=" col-sm-9 col-lg-9">
					<input type="submit" class="btn btn-primary" name="submit" value="Create Record">
					<a class="btn btn-default" href="{% url 'dashboard_manager' %}">Cancel</a>
				</div>
			</div>
		</form>
	</div>
</div>


{% endblock %}