{% extends "base/_layout_standard.html" %}
{% load staticfiles i18n %}

{% block body_id %}landing{% endblock %}

{% block before_main %}

<div class="landing jumbotron">
    <div class="backdrop">
        <div class="container text-center">
            <h1>Create an amazing website in 15 minutes</h1>
            <p>Choose from the most beautiful designs on the web. Personalize the content to your needs and then publish your site!</p>
        </div>
    </div>
</div>

<div class="get-started jumbotron">
    <div class="container text-center">
        <form class="form-inline" role="form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="landingform_email">Get Started:</label>
            </div>
            <div class="form-group">
                <label class="sr-only" for="landingform_email">Email address</label>
                <input type="email" class="form-control" id="landingform_email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <label class="sr-only" for="landingform_password">Password</label>
                <input type="password" class="form-control" id="landingform_password" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Create Account</button>
        </form>
    </div>
</div>

{% endblock %}

{% block main %}

<div class="row text-center">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Trial</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Everyday</div>
                    <div class="panel-body">
                        <h1 class="text-center">
                            $9<br/>
                            <h4><small>per month</small></h4>
                        </h1>

                        <div class="row">
                            <div class="col-xs-1"><span class="glyphicon glyphicon-ok"></span></div>
                            <div class="col-xs-11">Support</div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">Premium</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}